<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

</head>
<body>
<h3>Product</h3>
<p>
    <a th:href="@{/add}">
        Add new Product
    </a>
</p>

<table id = "product">
    <thead>
    <tr>
        <th>Name</th>
        <th>price</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${products}">
        <td th:text="${row.getName()}"></td>
        <td th:text="${row.getPrice()}"></td>
        <td><a th:href="@{/edit/__${row.getId()}__}">edit</a></td>
        <td><a th:href="@{/{id}/delete(id=${row.getId()})}">delete</a></td>
        <td><a th:href="@{/{id}/view(id=${row.getId()})}">view</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>